.ads {
    display: flex;
    flex-direction: column;
    place-items:center center;
    padding:6rem;
    margin: 1rem 0;
    width: 100vw;
    color:var(--gray-text);
    background: linear-gradient(90deg, rgba(92,48,131,1) 0%, rgba(54,61,129,1) 100%);
    -webkit-box-shadow: -1px 17px 18px -13px rgba(0,0,0,0.38);
    -moz-box-shadow: -1px 17px 18px -13px rgba(0,0,0,0.38);
    box-shadow: -1px 17px 18px -13px rgba(0,0,0,0.38);
    h3 {
        font-size: 2rem;
    }
    form input {
        font-size:1.6rem;
        color: white;
        border:0;
        border:2px solid white;
        padding:1rem;
        margin: 1.3rem 2rem;
        background: transparent;
  
    }
}