content {
    align-items: center;
    
    .item-article {
    margin-top: 2rem;
    padding:2rem;
}

}

.btn-more-green{
    margin:0 auto;
    margin-top:4rem;
    margin-bottom: 2rem;
    padding:2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.btn-more {
    margin:0 auto;
    margin-top:4rem;
    margin-bottom: 2rem;
    padding:2rem;
    font-size: 1.4rem;
    text-transform: uppercase;

}
.popular {
    display:none;
}